* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.hero-section {
  background-image: url(/images/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-section p,
h1 {
  color: white;
  padding: 10px;
}
#mouse-logo {
  width: 20px;
  margin-top: 200px;
}
#delani-logo {
  width: 50px;
  margin-bottom: 10px;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 77%;
  margin: 19px 20px;
}
.services-content {
  background-image: url(/images/backgrounds/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 300px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
}
.services-content h2,
p {
  padding: 5px;
}
.services-icons h2 {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.icons-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons img {
  max-width: 100;
}

.portfolio img {
  width: 20%;
  padding: 10px;
  margin-left: ;
}
.port1,
.port2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-bg {
  background-image: url(/images/backgrounds/c_image.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  display: flex;
  justify-content: center;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin: 10px;
  padding: 0 50px;
  background: transparent;
  border: 1px solid white;
}
#mail {
  width: 580px;
  height: 200px;
}
.footer-icons img {
  width: 55px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ptag {
  display: none;
}

/* try */
.development-text,
.design-text,
.product-text {
  display: none;
}
.services-icons {
  display: flex;
  flex-direction: column;
}
.icons-images {
  display: flex;
  justify-content: space-evenly;
}
/* jquery */
/* .services-text {
  display: none;
  flex-direction: column;
  width: 30%;
  margin: 20px;
  text-align: center;
}
.development-text {
  display: none;
  flex-direction: column;
  width: 30%;
  margin: 20px;
  text-align: center;
}
.product-text {
  display: none;
  flex-direction: column;
  width: 30%;
  margin: 20px;
  text-align: center;
}
.icons-func h4 {
  font-weight: bold;
}
.icons-func {
  display: flex;
} */
