* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* .hero-section {
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
@media screen and (max-width: 420px) {
}
.hero-section p,
h1 {
  color: white;
  padding: 10px;
}
#mouse-logo {
  width: 20px;
  margin-top: 200px;
}
#delani-logo {
  width: 50px;
  margin-bottom: 10px;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 77%;
  margin: 19px 20px;
}
.services-content {
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
}
.services-content h2,
p {
  padding: 5px;
}
.services-icons h2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.icons-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons img {
  max-width: 100;
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.port1,
.port2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}
.portfolio h3 {
  margin-top: 20px;
}
.port1 div,
.port2 div {
  /* width: 20%; */
}
.portfolio img {
  padding: 0 10px;
  max-width: 100%;
}
.disp1,
.disp2,
.disp3,
.disp4,
.disp5,
.disp6,
.disp7,
.disp8 {
  background-color: white;
  display: none;
  position: relative;
  bottom: 217px;
  width: 83%;
  left: 32px;
  height: 124px;
}
.green {
  background-color: green;
}

.contact-bg {
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-bg h3 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin: 10px;
  padding: 0 50px;
  background: transparent;
  border: 1px solid white;
}
#mail {
  width: 580px;
  height: 200px;
}
.footer-icons img {
  width: 55px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ptag {
  display: none;
}

.development-text,
.design-text,
.product-text {
  display: none;
}
.design-text span {
  margin-bottom: 10px;
}
.design-content,
.development-content,
.product-content {
  width: 30%;
  text-align: center;
}
.services-icons {
  display: flex;
  flex-direction: column;
}
.icons-images {
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
}
button {
  padding: 0 10px;
  border: none;
}
